<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.github.tdlm.os-x-self-destruct</string>

		<key>ProgramArguments</key>
		<array>
			<string>/Users/{USERNAME}/bin/self-destruct.sh</string>
			<string>--run</string>
		</array>

		<key>Nice</key>
		<integer>1</integer>

		<key>StartInterval</key>
		<integer>60</integer>

		<key>RunAtLoad</key>
		<true/>

		<!-- log files
		  <key>StandardErrorPath</key>
		  <string>/tmp/os-x-self-destruct.err</string>
		
		  <key>StandardOutPath</key>
		  <string>/tmp/os-x-self-destruct.out</string>
		-->

	</dict>
</plist>